.cb-cursor {
  position: fixed;
  top: -5rem;
  left: -5rem;
  width: 10rem;
  height: 10rem;
  pointer-events: none;
  z-index: 9999;
  will-change: transform;
}

.cb-cursor::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: var(--text);
  border-radius: 50%;
  transform: scale(0.1);
  transition: transform 0.3s var(--ease-out), opacity 0.1s;
}

.cb-cursor--lg::before {
  transform: scale(1.05);
}
